<!--  Launch file for single robot on Gazebo -->
<launch>
<!--env name="GAZEBO_RESOURCE_PATH" value="$(find rrt_exploration_tutorials)/launch/includes/meshes"/-->
	<env name="GAZEBO_RESOURCE_PATH" value="$(find ca_description)/meshes"/>

	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="use_sim_time" value="true"/>
		<arg name="debug" value="false"/>
		<!--arg name="world_name" value="$(find robot_sim_demo)/worlds/ROS-Academy.world"/-->
		<arg name="world_name" value="$(find rrt_exploration_tutorials)/launch/includes/worlds/house.world"/>
	</include>

	<group ns="/robot_1">
		<include file="$(find rrt_exploration_tutorials)/launch/includes/irobotcreate.launch.xml">
			<arg name="robot_name" value="robot_1"/>
			<arg name="init_pose" value="-x 0.0 -y 0.0 -z 0.0"/>
		</include>
	</group>

<!-- 	<node pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" name="depthimage_to_laserscan">
		<remap from="/camera_info" to="/camera/depth/camera_info"/> 
		<remap from="/image" to="/camera/depth/image_raw"/>
	</node> -->
	
</launch>