<!-- xml -->


<launch>
	<!-- <arg name="map_file"       default=" $(find multi_robot_stage)/maps/three_rooms.yaml"/> --> <!-- robopark_plan -->
	<arg name="world_file"     default=" $(find teb_local_planner_tutorials)/stage/maze_multi_robot.world"/>

<!-- 	<param name="/use_sim_time" value="true"/>
  
	<node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)">
		<param name="frame_id" value="/map"/>
	</node> -->
  
	<node pkg="stage_ros" type="stageros" name="stageros" args="$(arg world_file)"/>

	<include file="$(find rrt_exploration_tutorials)/launch/robot_model.launch"/>

	<!-- transformation between robots-->
	<node pkg="tf" type="static_transform_publisher" name="robot1_to_robot0" args="0 0.5 0 0 0 0 /robot_0/map /robot_1/map 20" />
	<node pkg="tf" type="static_transform_publisher" name="robot2_to_robot0" args="0 1 0 0 0 0 /robot_0/map /robot_2/map 20" />
<!-- 	<node pkg="tf" type="static_transform_publisher" name="robot3_to_robot0" args="0 1.5 0 0 0 0 /robot_0/map /robot_3/map 20" /> -->

	<!-- Map megring (know inital position case)-->
	<include file="$(find rrt_exploration_tutorials)/launch/includes/initposes_stage.launch"/>
	<include file="$(find rrt_exploration_tutorials)/launch/includes/map_merge_stage.launch"/>
	
	<!--  **************** Visualisation ****************  -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find teb_local_planner_tutorials)/cfg/rviz_navigation.rviz"/>

</launch>